page-journeys {

}

.arrow {
    text-align: center;
    background-color: #f1ebd7;
    border-radius: 26px;
    color: #727272;
    display: inline-block;
    width: 2.2em;
    height: 2.2em;
    display: table-cell;
    vertical-align: middle;
}

.viewingDay {
    font-size: 1.3em;
    text-align: center;
}

.centre {
    text-align: center;
}