// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

h1, h2, h3, h4, h5, h6, p, span {
    font-family: 'Open Sans', sans-serif;
}

#avatar {
    border-radius: 50%;
    height: 10em;
    padding: 1em;
    display: block;
    margin: auto;
}

#name {
    text-align: center;
    padding-bottom: 1em;

    span {
        color: white;
    }
}

#nav-list {
    padding-top: 1em;
}

#user-holder {
    background-color: #29C4D8;
}

#menu-list-item {
    color: #6A6A6A;
}

.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    width: 0;
}

.text-align-left {
    text-align: left !important;
}