<ion-menu [content]="content">
  
  <ion-content id="nav-list">

    <div id="user-holder">
      <img src="{{authenticationProvider.userImageUrl}}" alt="Avatar" id="avatar" *ngIf="authenticationProvider.userImageUrl">
      <img src="./assets/img/img_avatar.png" alt="Avatar" id="avatar" *ngIf="!authenticationProvider.userImageUrl">
      <ion-title id="name">
        <span *ngIf="authenticationProvider.userGivenName"  id="name">{{authenticationProvider.userGivenName}}</span>
        <span *ngIf="!authenticationProvider.userGivenName"  id="name">User</span>
      </ion-title>
    </div>

    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <span id="menu-list-item">
          <ion-icon name="{{p.icon}}" item-start></ion-icon>
          {{p.title}}
        </span>
      </button>
      <button menuClose ion-item (click)="logout()">
        <span id="menu-list-item">
          <ion-icon name="log-out" item-start></ion-icon>
          Sign out
        </span>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>